:root {
    --background-colorBody: #011212;
    --background-colorBall: #ff8800;
    --widthBall: 100px;
    --heightBall: 100px;
    --border-radiusBall: 50px;

}

body {
    background-color: var(--background-colorBody);
}

.ball {
    
    background-color: var(--background-colorBall);
    border-radius: var(--border-radiusBall);
    width: var(--widthBall);
    height: var(--heightBall);
    
}
